body {
  background: #f7f7f7;
}

.account-header {
  height: 55px;
  width: 100%;
  text-align: center;
  h3 {
    font-size: 16px;
  }
}
.account-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  #content {
    min-height: 400px;
    padding: 37px 10px 20px 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    background: #fff;
    width: 600px;

    #content-header {
      display: flex;
      margin: -27px 0 20px 0;
      justify-content: space-between;
      .update-icon {
        cursor: pointer;
      }
    }
    .account-day-weeks {
      display: flex;
      list-style-type: none;
      justify-content: space-around;
      a {
        text-decoration: none;
      }
      a.active {
        color: #235270  ;
      }
    }

    .center-pie {
      width: 410px;
      margin: 0 auto;
    }

    .recharts-legend-wrapper {
      margin: 0 -50px 0 0;
    }
    h3 {
      &.new_members {
        text-align: center;
      }
    }
  }
  .third-menu {
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    width: 180px;
    background: #fff;
    h3 {
      font-family: Helvetica, Arial, sans-serif;
      font-size: 14px;
      font-weight: bold;
      color: #3F454B;
      text-transform: none;
      margin: 0;
      padding: 10px 20px 10px 24px;
    }
    .third-menu-content {
      padding: 10px 20px 10px 24px;
      .block-group-delete {
        display: flex;
        justify-content: flex-start;
        .group-delete {
          cursor: pointer;
            margin: 2px 8px 0 0;
        }
        a {
          &.active {
            color: #235270;
          }
          display: block;
          text-overflow: ellipsis;
          white-space: nowrap;
          overflow: hidden;
        }
      }
    }
    button {
      &:hover {
        background: #3cb0fd;
        background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
        background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
        background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
        background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
        background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
      }
      background: #337ab7;
      background-image: -webkit-linear-gradient(top, #337ab7, #337ab7);
      background-image: -moz-linear-gradient(top, #337ab7, #337ab7);
      background-image: -ms-linear-gradient(top, #337ab7, #337ab7);
      background-image: -o-linear-gradient(top, #337ab7, #337ab7);
      background-image: linear-gradient(to bottom, #337ab7, #337ab7);
      -webkit-border-radius: 9px;
      -moz-border-radius: 9px;
      border-radius: 9px;
      color: #ffffff;
      font-size: 12px;
      padding: 6px 10px 6px 10px;
      text-decoration: none;
      border: none;
      outline: none;
      margin: 0 0 0 24px;
    }
    .add_group {
      padding: 10px 20px 10px 24px;
      display: flex;
      input {
        &:hover {
          outline: none;
        }
        font-family: Helvetica, Arial, sans-serif;
        padding: 0 10px;
        height: 30px;
        border: 1px solid #ccc;
        line-height: 28px;
        font-size: 11px;
        -moz-border-radius: 6px;
        -webkit-border-radius: 6px;
        border-radius: 6px;
        outline: none;
        width: 113px;
      }
      button {
        margin: 0 0 0 4px;
      }
    }
  }
}